__pycache__
bin
tests
.buildozer
.vscode
.venv
.android_venv
poetry.lock
designs
CrowdScope.spec
build
*.mp4
generate_samples.ipynb
test_gender.py
vis_faces.py
1.txt
2.txt
yolov8
yolov*
dist/
images_dataset
debug*